<!DOCTYPE html>
<html lang="en">
<head>
    <title>BM Shopping</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
</head>
<body>
<header>
    <nav>
        <div class="logo"><img src="{{url_for('static',filename='logo.jpg')}}"></div>
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/categories">Shop</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/cart/{{session.user_id}}">cart</a></li>
                <li>
                <form action="logout">
                    <button type="submit">LOGOUT</button>
                </form>
                </li>

            </ul>
    </nav>
</header>

<main>
    <h1>WELCOME TO BM SHOPPING</h1>
    <img src="{{url_for('static',filename='logo.jpg')}}" class="center">
</main>

<footer>
    <p>
        <a href="/home">Home</a>
        <a href="/categories">shop</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </p>
</footer>

</body>

<style>
body{
  margin:0;
  background-image:url({{url_for('static',filename='bg_images/bg_img.jpg')}});
  padding:0;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  background-size:cover;
  background-position:center;
}
header{
  top:0;
  left:0;
  width:100%;
  height:75px;
  padding:10px;
  box-sizing:border-box;
  background:rgba(0,0,0,0.3);
}

main{
  width:100%;
  height:1000px;
  text-align:center;
  color:black];
}
</style>

</html>