<!DOCTYPE html>
<html lang="en">
<head>
    <title>BM Shopping</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
</head>
<body style="background:url({{url_for('static',filename='bg_images/bg_img.jpg')}})no-repeat center fixed; background-size:cover;">
<header>
    <nav>
        <div class="logo"><img src="{{url_for('static',filename='logo.jpg')}}"></div>
            <ul>
                <li><a class="active" href="/home">Home</a></li>
                <li><a href="/categories">Shop</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/cart/{{session.user_id}}">cart</a></li>
                <li>
                <form action="logout">
                    <button type="submit">LOGOUT</button>
                </form>
                </li>

            </ul>
    </nav>
</header>

<main>
    <h1 style="color:white;">WELCOME TO BM SHOPPING</h1>
    <img src="{{url_for('static',filename='logo.jpg')}}" class="center">
    <p style="font-size:70px; color:white;">SHOP WITH US</p>
    <div id="about">
        <h1>About:</h1>
        <p>"You can always find something you want"</p>
        <p>“Happiness is not in money, but in shopping"</p>
    </div>
</main>

<footer id="contact">
    <p>
        <a href="/home">Home</a>
        <a href="/categories">shop</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </p><br>
    <div style="color:white;">
    <p>BM Shopping Design by : html</p>
    <p>-No.59, PM Darga Mainstreet, Trilicane, Chennai-05</p>
    <p>-Mob: 7010401863.</p>
    </div>

</footer>

</body>
</html>
